.meals {
  min-height: 350px;
  max-width: 60rem;
  width: 90%;
  margin: 2rem auto;
  animation: meals-appear 1s ease-out forwards;
  background: url('../../assets/leaf.png') no-repeat;
  background-position-x: center;
  background-position-y: 78%;
  background-attachment: fixed;
}
.meals ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.mealsLoading {
  text-align: center;
  color: #000;
}

.mealsError {
  text-align: center;
  color: red;
}

@keyframes meals-appear {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (max-height: 900px) {
  .meals {
    background-position-y: 85%;
  }
}

@media screen and (max-width: 1200px) {
  .meals {
    background-position-y: 85%;
  }
}

@media screen and (max-width: 600px) {
  .meals {
    background-position-y: 85%;
  }
}
