.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid rgba(96, 125, 139);
  padding: 0.75rem 0;
  margin: 0.5rem 0;
  background-color: #fff;
  border-radius: 7px;
  text-shadow: 10px 10px 21px black;
}

.cart-item h2 {
  margin: 0 0 0.75rem 0;
  color: #000;
}

.summary {
  width: 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price {
  font-weight: bold;
  font-size: 17px;
  color: rgba(96, 125, 139);
}

.amount {
  font-weight: bold;
  border: 1px solid #ccc;
  background-color: #fff;
  padding: 0.25rem 0.75rem;
  border-radius: 6px;
  color: #363636;
}

.actions {
  display: flex;
  flex-direction: column;
}

.cart-item button {
  font: inherit;
  font-weight: bold;
  font-size: 1rem;
  color: rgba(96, 125, 139);
  border: 1px solid rgba(96, 125, 139);
  width: 3rem;
  text-align: center;
  border-radius: 6px;
  background-color: transparent;
  cursor: pointer;
  margin-left: 1.5rem;
  margin: 0.25rem;
}

.cart-item button:hover,
.cart-item button:active {
  background-color: rgba(96, 125, 139);
  color: white;
}

@media (min-width: 768px) {
  .actions {
    flex-direction: row;
  }
}

@media (max-width: 600px) {
  .actions {
    flex-direction: row;
  }

  .cart-item h2 {
    font-size: 16px;
  }

  .amount {
    font-size: 15px;
  }

  .cart-item button {
    font-size: 0.75rem;
  }
}
