.form {
  margin: 1rem 0;
  overflow: auto;
}

.control {
  margin-bottom: 0.5rem;
}

.control label {
  font-weight: bold;
  margin-bottom: 0.25rem;
  display: block;
}

.control input {
  font: inherit;
  border: 1px solid black;
  border-radius: 4px;
  width: 18rem;
  max-width: 100%;
  outline: none;
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.actions button {
  font: inherit;
  color: rgba(96, 125, 139);
  cursor: pointer;
  background-color: transparent;
  border: none;
  border-radius: 25px;
  padding: 0.5rem 2.25rem;
}

.actions button:hover,
.actions button:active {
  background-color: #ffe6dc;
}

.actions .submit {
  border: 1px solid rgba(96, 125, 139);
  background-color: rgba(96, 125, 139);
  color: white;
  margin-right: 1rem;
}

.actions .submit:hover,
.actions .submit:active {
  background-color: rgb(37, 74, 93);
}

.invalid label {
  color: #ca3e51;
}

.invalid input {
  border-color: #aa0b20;
  background-color: #ffeff1;
}

p.invalid {
  color: red;
}
