.form {
  text-align: right;
}

.form button {
  font: inherit;
  cursor: pointer;
  background-color: #6d0c03; 
  border: 1px solid #650b05;
  padding: 0.25rem 1.5rem;
  border-radius: 20px;
  font-weight: bold;
  float: right;
}

.form button:hover,
.form button:active {
  background-color: #881106;
  border-color: #660c04;
}

/*background-color: #660c04; 
  border: 1px solid #650b05;*/