.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  background-color: rgba(96, 125, 139, 0.75);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
  z-index: 10;
}
.icon {
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  margin-left: 5px;
  height: 47px;
}

.main-image {
  width: 100%;
  height: 25rem;
  z-index: 0;
  overflow: hidden;
}

.main-image img {
  width: 110%;
  height: 100%;
  object-fit: cover;
  transform: rotateZ(0deg) translateY(0rem) translateX(-1rem);
}

@media screen and (max-width: 600px) {
  .header {
    font-size: 12px;
    padding: 0 5%;
  }

  .header h1 {
    text-align: left;
  }
}

@media screen and (max-width: 400px) {
  .header {
    font-size: 11px;
    padding: 0 5%;
  }

  .header h1 {
    text-align: left;
  }
}
