button {
  cursor: pointer;
  font: inherit;
  border: none;
  background-color: #591c0b;
  color: white;
  padding: 0.75rem 2.5rem; /*.75rem 3rem*/
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 25px;
  font-weight: bold;
}

.button:hover,
.button:active {
  background-color: #d4af37;
}

.icon {
  width: 1.35rem;
  height: 1.35rem;
  margin-right: 0.5rem;
}

.badge {
  background-color: #b94517;
  padding: 0.25rem 0.9rem;
  border-radius: 25px;
  margin-left: 0.9rem;
  font-weight: bold;
}

.button:hover .badge,
.button:active .badge {
  background-color: #92320c;
}

.bump {
  animation: bump 300ms ease-out;
}

@keyframes bump {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.9);
  }
  30% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.17);
  }
  100% {
    transform: scale(1);
  }
}

@media screen and (max-width: 600px) {
  .button {
    font-size: 12px;
    padding: 0.5rem 1.5rem; /*.75rem 3rem*/
  }

  .badge {
    padding: 0.25rem 0.65rem;
    margin-left: 0.5rem;
  }

  .icon {
    margin-right: 0.35rem;
  }
}
